body {
  background: #f0ece2;
  font-family: "Barlow", sans-serif;
}

a {
  color: #596e79;
  text-decoration: none;
}

header {
  border-bottom: 1px solid rgb(240, 236, 226, 0.6);
  padding-bottom: 20px;
}

.container {
  background: #dfd3c3;
  margin: 30px auto;
  width: 550px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-form-input {
  background: #f0ece2;
  border: none;
  width: 70%;
  padding: 10px 13px;
  border-radius: 4px;
  font-size: 18px;
}

.search-form-button {
  background: #596e79;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  padding: 10px 13px;
  color: #f0ece2;
  margin-left: 5px;
}

main {
  margin: 20px 0;
}

.weather-conditions {
  display: flex;
  justify-content: space-between;
}

.current-city {
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 600;
}

.current-conditions {
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.current-conditions strong {
  color: #596e79;
}

.current-temp {
  display: flex;
}

.current-temp-value {
  font-size: 75px;
  font-weight: 500;
}

#temp-icon .current-temp-emoji {
  width: 90px;
  padding-bottom: 20px;
}

.current-temp-unit {
  font-size: 25px;
  margin-top: 13px;
  margin-left: 3px;
}

.weather-forecast {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.weather-forecast-icon {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temp-separater {
  opacity: 0.5;
}

.weather-forecast-temp-min {
  opacity: 0.5;
}

footer {
  border-top: 1px solid rgb(240, 236, 226, 0.6);
  padding-top: 20px;
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.7);
}
