body {
  background: #f0ece2;
  font-family: "Barlow", sans-serif;
}

a {
  color: #596e79;
  text-decoration: none;
}
.container {
  background: #dfd3c3;
  margin: 30px auto;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

.search-form-input {
  background: #f0ece2;
  border: none;
  width: 70%;
  padding: 10px 13px;
  border-radius: 4px;
  font-size: 18px;
}
